/* FLAT STYLE */

/* HEADER */
.header {
	color: #fff; background: #79CE98;
}

.single-page-layout .header .vs-nav {
	margin-top: 0.5em;
}
.vs-nav li a {
	color: rgba(255, 255, 255, 0.3);
}
.vs-nav li a:hover {
	color: rgba(255, 255, 255, 0.6);
}
.vs-nav li a:focus,
.vs-triplelayout .vs-nav .vs-nav-current a,
.vs-nav li.current_page_item a,
.container.vs-move-left .vs-nav-right a,
.container.vs-move-right .vs-nav-left a {
 	color: #fff;
}

/* HEADER SEARCH */
#search-form #search {
    background: transparent; border-color: #fff; border-color: rgba(255,255,255, .5); color: #fff; color: rgba(255,255,255, .8); border-width: 3px;
}
#search-form #search:focus {
    background: transparent; color: #fff; border-color: #fff;
}
#search-form #search::-webkit-input-placeholder {
    color:    #fff;
}
#search-form #search:-moz-placeholder {
    color:    #fff;
}
#search-form #search::-moz-placeholder {
    color:    #fff;
}
#search-form #search:-ms-input-placeholder {
    color:    #fff;
}
#search-submit {
	color: #fff;
}

/* CLASSIC LAYOUT NAV */
.classic-layout .vs-nav li a {
	color: #fff; color: rgba(255, 255, 255, 0.6); border-color: rgba(255, 255, 255, 0.2);
}

/* SINGLE PAGE NAV */
.single-page-layout .vs-nav li i {
	background: none; color: #fff; border-color: #fff; line-height: 52px; border-width: 3px;
}

/* CONTENT */
.content {
	padding-top: 2em;
}

.hentry {
	padding-top: 2.5em;
}

/* SMARTPHONES */
@media screen and (max-width: 767px) {
	.header {
		padding-bottom: .7em;
	}
	.content {
		padding-top: 1em;
	}
	.hentry {
		padding-top: 1em;
	}
}

.header {
	background: #5CB4BD;
}

.header h1 {
	color: #fff;
	font-size: 2.2em;
	font-family: 'Handlee', cursive;
}

.header p {
	font-style: normal;
}

.portfolio-title span {
	font-size: 24px;
	color: #c8d3d6;
	text-transform: lowercase;
}

/* Contact Form */
.letter {
	padding: 0;
}

.letter-title {
	margin: 0;
}

.letter-info {
	margin-left: 0;
}

/* Skills */
p.skill-list {
	font-size: 1.1em;
}

ul.skill-list {
	padding-left: 0;
}

ul.skill-list li {
	padding-right: 15px;
}

ul.skill-list li strong {
	color: #5CB4BD;
	font-size: 1.05em;
	text-decoration: underline;
}

.skill-list span {
	font-weight: bold;
	color: #5CB4BD;
	font-size: 1.5em;
}

/* Planning to Learn */
.planning-to-learn span, .alt-description {
	color: #D0DADC;
}

/* Read Remaining */
.readRemainingGauge {
	background: transparent;
	border: 3px solid #EAEEEF;
	color: rgb(51, 68, 85);
	font-weight: bold;
	font-size: 13px;
	top: auto;
	left: auto;
	right: 30px;
}

/* Blog */
.footer-notes {
	margin-top: 100px;
}

.footer-notes ul {
	list-style: none;
	padding-left: 0;
}

.blog-filter {
	margin: 40px 0;
}

.blog-filter .section-title span {
	padding-right: 0;
}

.blog-filter .section-title i {
	font-size: 22px;
	line-height: 39px;
	text-align: center;
	color: #B7C6C9;
	background: #fff;
	border-radius: 50%;
	border: 4px solid #dde4e6;
	display: inline-block;
	width: 47px;
}

.blog-filter h2 {
	text-align: center;
	text-transform: uppercase;
	color: #345;
	margin-bottom: 0;
}

.blog-filter h3 {
	color: #B7C6C9;
	text-align: center;
	margin-top: 0;
}

.tagline span {
	font-size: 2em;
	padding: 0;
	line-height: 1.4;
	font-weight: 300;
	color: #6A7686;
}

/* Search */
.tipue_search_content_url a {
	color: #5CB4BD;
}

.tipue_search_content_url a:hover {
	color: #334455;
}

#tipue_search_foot a {
	cursor: pointer;
}

/* Utility */

.text-center {
	text-align: center;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.success {
	color: #5BCF80;
}

.list-inline li {
	display: inline;
}

/* Spacements */
/* spacement top & bottom */
.m-none {
	margin: 0 !important;
}

.m-auto {
	margin: 0 auto !important;
}

.m-xs {
	margin: 5px !important;
}

.m-sm {
	margin: 10px !important;
}

.m-md {
	margin: 15px !important;
}

.m-lg {
	margin: 20px !important;
}

.m-xl {
	margin: 25px !important;
}

.m-xlg {
	margin: 30px !important;
}

/* spacement top	*/
.mt-none {
	margin-top: 0 !important;
}

.mt-xs {
	margin-top: 5px !important;
}

.mt-sm {
	margin-top: 10px !important;
}

.mt-md {
	margin-top: 15px !important;
}

.mt-lg {
	margin-top: 20px !important;
}

.mt-xl {
	margin-top: 25px !important;
}

.mt-xlg {
	margin-top: 30px !important;
}

/* spacement bottom	*/
.mb-none {
	margin-bottom: 0 !important;
}

.mb-xs {
	margin-bottom: 5px !important;
}

.mb-sm {
	margin-bottom: 10px !important;
}

.mb-md {
	margin-bottom: 15px !important;
}

.mb-lg {
	margin-bottom: 20px !important;
}

.mb-xl {
	margin-bottom: 25px !important;
}

.mb-xlg {
	margin-bottom: 30px !important;
}

/* spacement left	*/
.mr-none {
	margin-left: 0 !important;
}

.ml-xs {
	margin-left: 5px !important;
}

.ml-sm {
	margin-left: 10px !important;
}

.ml-md {
	margin-left: 15px !important;
}

.ml-lg {
	margin-left: 20px !important;
}

.ml-xl {
	margin-left: 25px !important;
}

.ml-xlg {
	margin-left: 30px !important;
}

/* spacement right	*/
.mr-none {
	margin-right: 0 !important;
}

.mr-xs {
	margin-right: 5px !important;
}

.mr-sm {
	margin-right: 10px !important;
}

.mr-md {
	margin-right: 15px !important;
}

.mr-lg {
	margin-right: 20px !important;
}

.mr-xl {
	margin-right: 25px !important;
}

.mr-xlg {
	margin-right: 30px !important;
}

/* Spacement Padding */
.p-none {
	padding: 0 !important;
}

.p-xs {
	padding: 5px !important;
}

.p-sm {
	padding: 10px !important;
}

.p-md {
	padding: 15px !important;
}

.p-lg {
	padding: 20px !important;
}

.p-xl {
	padding: 25px !important;
}

.p-xlg {
	padding: 30px !important;
}

/* spacement top	*/
.pt-none {
	padding-top: 0 !important;
}

.pt-xs {
	padding-top: 5px !important;
}

.pt-sm {
	padding-top: 10px !important;
}

.pt-md {
	padding-top: 15px !important;
}

.pt-lg {
	padding-top: 20px !important;
}

.pt-xl {
	padding-top: 25px !important;
}

.pt-xlg {
	padding-top: 30px !important;
}

/* spacement bottom	*/
.pb-none {
	padding-bottom: 0 !important;
}

.pb-xs {
	padding-bottom: 5px !important;
}

.pb-sm {
	padding-bottom: 10px !important;
}

.pb-md {
	padding-bottom: 15px !important;
}

.pb-lg {
	padding-bottom: 20px !important;
}

.pb-xl {
	padding-bottom: 25px !important;
}

.pb-xlg {
	padding-bottom: 30px !important;
}

/* spacement left	*/
.pl-none {
	padding-left: 0 !important;
}

.pl-xs {
	padding-left: 5px !important;
}

.pl-sm {
	padding-left: 10px !important;
}

.pl-md {
	padding-left: 15px !important;
}

.pl-lg {
	padding-left: 20px !important;
}

.pl-xl {
	padding-left: 25px !important;
}

.pl-xlg {
	padding-left: 30px !important;
}

/* spacement right	*/
.pr-none {
	padding-right: 0 !important;
}

.pr-xs {
	padding-right: 5px !important;
}

.pr-sm {
	padding-right: 10px !important;
}

.pr-md {
	padding-right: 15px !important;
}

.pr-lg {
	padding-right: 20px !important;
}

.pr-xl {
	padding-right: 25px !important;
}

.pr-xlg {
	padding-right: 30px !important;
}
