<!-- CONTAINER -->
<div class="container header-bg" id="container">
    <!-- HEADER -->
    <header class="header">
        <h1>Shannon Babincsak</h1>
        <p>{{ site.header_description }}</p>

        <!-- NAV MENU -->
        <ul class="vs-nav">
            <li><a href="#/about">about me</a></li>
            <li><a href="#/portfolio">portfolio</a></li>
            <li><a href="#/contact">contact</a></li>
            <li><a href="#/blog">blog</a></li>
            <li><a href="#/resume">resume</a></li>
        </ul>
        <!-- NAV MENU -->

        {% include search.html %}
    </header>
    <!-- HEADER -->
