:root {
    --primary-color: #ff9bdc;
    --accent-color: #ed4699;
    --text-color: #8190A5;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    text-transform: lowercase;
}

h1 span,
h2,
h3 {
    color: var(--accent-color);
}

@media (min-width: 350px) {
    h1 {
        font-size: 2.5em;
    }
}

a:hover,
a:active {
    color: var(--accent-color);
    transition: all ease-in-out 0.25s;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.top {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 30vh;
    width: 100vw;
    padding: 100px 0px;

    background: var(--primary-color);
    color: white;
    text-align: center;
}

.social-links {
    padding: 0 0 40px 0;
    margin: 0 0;
    list-style: none;
    font-size: 1.5em;

    display: flex;
    justify-content: center;
}

.social-links li {
    padding: 15px;
}

.social-links a {
    color: white;
}

.social-links a:hover,
a:active {
    color: var(--accent-color);
}

.content {
    flex: 3;
    padding: 25px;
}

@media (min-width: 375px) {
    .content {
        padding: 50px 25px;
    }
}

@media (min-width: 800px) {
    .content {
        padding: 75px 50px;
    }
}

.content a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 2px dashed var(--primary-color);
}

.content a:hover,
.content a:active {
    color: var(--accent-color);
    border-bottom-color: var(--accent-color);
}

.fun-facts ul {
    color: var(--accent-color);
}

.fun-facts h3,
.fun-facts li {
    background: -webkit-linear-gradient(90deg, var(--accent-color) 0%, #00ffff 30%, #ed9b46 50%);
    background: linear-gradient(90deg, var(--accent-color) 0%, #00ffff 30%, #ed9b46 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}